<div class="" id="accordion">
    <div class="mb-3">
        <div class="">
            <h3 class="panel-title">
                    Tutorials
            </h3>
        </div>
        <div id="tutorials" class="doco-section">
            <div class="vstack">
                <a class="" href="/help/tutorials/personal_channel">Personal Channel</a>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <h3 class="panel-title">
                    Members
            </h3>
        </div>
        <div id="members" class="doco-section">
            <div class="vstack">
               <a class="" href="/help/member/member_guide">Guide</a>
               <a class="" href="/help/member/bbcode">BBcode Reference</a>
               <a class="" href="/help/feature/additional/overview">Additional Features</a>
               <a class="" href="/help/bugs">Reporting Bugs</a>
               <a class="" href="/help/member/member_faq">FAQ</a>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <h3 class="panel-title">
                    Administrators
            </h3>
        </div>
        <div id="administrators" class="doco-section">
            <div class="vstack">
                <a class="" href="/help/admin/administrator_guide">Guide</a>
                <a class="" href="/help/admin/hub_snapshots">Hub Snapshots</a>
                <a class="" href="/help/database">Database</a>
                <a class="" href="/help/hidden_configs">Extra configs</a>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <h3 class="panel-title">
                    Developers
            </h3>
        </div>
        <div id="developers" class="doco-section">
            <div class="vstack">
                <a class="" href="/help/developer/developer_guide">Guide</a>
                <a class="" href="/help/developer/covenant">Code of Conduct</a>
                <a class="" href="/help/developer/zot_protocol">Zot Protocol</a>
                <a class="" href="/help/developer/api_zot">Zot API</a>
                <a class="" href="/help/hooklist">Hooks</a>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <h3 class="panel-title">
                    About
            </h3>
        </div>
        <div id="about" class="doco-section">
            <div class="vstack">
                <a class="" href="/help/about/about">About</a>
                <a class="" href="/help/about/project">Project</a>
                <a class="" href="/help/about/about_hub">About this hub</a>
            </div>
        </div>
    </div>
</div>
